.hidden {
    display: none;
}
body {
    color: whitesmoke;
    padding-top: 120px;
    text-align: center;
}

.container {
    flex-direction: column;
    
}
.item {
    width: 400px;
}

#checkBoard.container {
    justify-items: stretch;
    grid-template-columns: 40px 1fr;
}
#checkBoard button{
    width :50px;
}

.title {
    border-bottom: 1px solid #fff;
}
#clock {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 80px;
        display: inline-block;
        padding: 5px 30px;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.35);
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.8), 1px 1px 2px rgba(0, 0, 0, 0.9), -1px -1px 2px rgba(0, 0, 0, 0.9), 1px -1px 2px rgba(0, 0, 0, 0.9), -1px 1px 2px rgba(0, 0, 0, 0.9);
}
#LoginForm input {
    width: 200px;
    height: 40px;
    border: 0px;
    color: beige;
    border-bottom: 1px solid #fff;
    background: none;
    background-color: rgba(255,255,255,0.1);
    text-align: center;
}

#TodosForm input {
    width: 400px;
    height: 40px;
    border: 0px;
    color: beige;
    border-bottom: 1px solid #fff;
    background: none;
    background-color: rgba(255,255,255,0.1);
    text-align: center;
}

#TodosForm input::placeholder {
    color: beige;
    font-style: italic;
}

#randomBgs {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#todos {
    
    height: 220px;
    margin: 20px auto;
    overflow: auto;
    /* background-color: rgba(255,255,255,0.3); */
    padding-right:20px;
}

#todos li {
    list-style: none;
    margin: 5px;
    text-align: left;
    background-color: #ffffff;
    background-color: rgba( 255, 255, 255, 0.1 );
}

#challange {    
    height: 250px;
    overflow: auto;
    /* background-color: rgba(255,255,255,0.3); */
    padding-right:20px;
}
.complatedEffect {
    animation-duration: 4s; animation-name: rainbowLink; animation-iteration-count: infinite; } 
    @keyframes rainbowLink {     
    0% { color: #ff2a2a; }
    15% { color: #ff7a2a; }
    30% { color: #ffc52a; }
    45% { color: #43ff2a; }
    60% { color: #2a89ff; }
    75% { color: #202082; }
    90% { color: #6b2aff; } 
    100% { color: #e82aff; }
}
#ChallangeForm input::placeholder {
    color: beige;
    font-style: italic;
}
#ChallangeForm div:last-child{
    text-align: left;
    padding-left: 25px;
}
#ChallangeForm input {
    width: 400px;
    height: 40px;
    border: 0px;
    color: beige;
    border-bottom: 1px solid #fff;
    background: none;
    background-color: rgba(255,255,255,0.1);
    text-align: center;
    margin-bottom: 20px;
}
#checkBoard .item.progress {
    margin: 0 15px 5 0;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100%;
    font-style: italic;
    color: beige;
    background: gray;
}
#checkBoard {
    text-align: left;
}
#checkBoard .item.complated {
    margin: 0 15px 0 0;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100%;
    font-style: italic;
    color: beige;
    background: #f0d264;
}
button {
    margin: 5px;
    border: none;
}

.img {
    display:inline-block; 
    vertical-align:middle;
}
.face-smile {
    background-image: url( "icon/happy_face.png" );
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    cursor: pointer;
    /* 배경색 투명하게 */
    background-color: #ffffff;
    background-color: rgba( 255, 255, 255, 0 );
  }


li button {
    background-image: url(icon/delete_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 16px;
    width: 16px;
    /* 배경색 투명하게 */
    background-color: #ffffff;
    background-color: rgba( 255, 255, 255, 0 );

 
}
